/*preset*/
* {
    font-family: serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h4 {
    font-family: serif;
    font-weight: normal;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

img {
    width: auto;
    max-width: 100%;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background: #000;
    color: #fff;
    border-radius: 10px;
}

.btn:hover {
    background: #C97F70;
    color: #000;
}


/*nav*/
header {
    position: relative;
    display: block
}

.logo {
    color: #C97F70;
    font-size: 50px;
    font-family: serif;
}

nav {
    position: absolute;
    right: 20px;
    top: 9px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 10px;
    border: 1px solid #000;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
}

nav a:hover {
    background: #C97F70;
    color: #000;
    border: none;
}


/*footer*/
footer {
    padding: 20px 0px;
    text-align: center;
}

footer p {
    font-size: 14px;
}


/*hero*/
#hero {
    background: linear-gradient(#555, #fff);
    background-size: cover;
    background-position: center bottom;
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero div {
    background: rgba(255, 255, 255, .35);
    padding: 20px;
    text-align: center;
    max-width: 850px;
    border-radius: 10px
}

#hero h1,
#hero p {
    margin-bottom: 20px;
}


/*portfolio*/
#port {
    padding: 40px 0px;
    text-align: center;
}

#port h1,
#port p {
    max-width: 850px;
    margin: 20px auto;
}

#port img {
    border-radius: 50%;
    border: 5px solid #000;
}

#port .col {
    padding: 10px;
}

.container {
    display: flex;
    max-width: 850px;
    margin: 0 auto;
}


/*cta*/
#cta {
    padding: 40px 0px;
    text-align: center;
    background: linear-gradient(#fff, #555);
}

#cta h1,
#cta p {
    margin-bottom: 20px;
}


/*about me*/
#me {
    text-align: center;
    background: linear-gradient(#555, #fff);
    font-size: 20px;
    padding: 40px 0px 0px 0px;
}

#me h1,
#me p {
    max-width: 850px;
    margin: 20px auto;
}

#me img {
    border-radius: 50%;
    border: 1px solid #000;
}

.container {
    display: flex;
    max-width: 850px;
    margin: 0 auto;
}

#me .col .c25 {
    flex: 25%;
    padding: 10px;
}

#me .col .c75 {
    flex: 75%;
    padding: 10px;
}

#mebtn {
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
}

#mebtn .btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background: #000;
    color: #fff;
    border-radius: 10px;
    max-width: 850px;
    margin: 20px auto;
}

#mebtn .btn:hover {
    background: #C97F70;
    color: #000;
}


/*contact form and map*/
#contact {
    text-align: center;
    background: linear-gradient(#555, #fff);
    font-size: 20px;
    padding: 40px 0px 0px 0px;
}

#contact h1 {
    max-width: 850px;
    margin: 20px auto;
}

#submit {
    text-align: center;
}

#submit .subbtn {
    font-size: 20px;
    text-decoration: none;
    background: #000;
    color: #fff;
    border-radius: 10px;
    border-style: none;
    max-width: 850px;
    display: inline-block;
    padding: 10px;
}

#submit .subbtn:hover {
    background: #C97F70;
    color: #000;
}

#map {
    text-align: center;
}
